/*Estilos*/

.header {
    position: fixed;
    background-color: #71b552;
    top: 0;
    left: 0;
    height: 90px;
    width: 100%;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 90px;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.nav-link{
    color: white;
    text-decoration: none;
}

.nav-menu{
    display: flex;
    list-style: none;
    margin-right: 40px;
}

.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 90px;
}

.nav-menu-link{
    padding: 8px 12px;
    transition: 0.5s;
}

.nav-menu-link:hover{
    background-color: #41a941;
    border-radius: 10px;    
}

aside {
    position: fixed;
    background-color: #e2e2e2;
    top: 90px;
    left: 0;
    bottom: 20px;
    width: 20%;
    padding: 0 20px;
}

.index {
    top: 150px;
    left: 5%;
    bottom: 20px;
    width: 40%;
    padding: 150px 500px;
}

section {
    overflow-y: scroll;
    position: fixed;
    background-color: white;
    top: 90px;
    left: 5%;
    bottom: 20px;
    width: 100%;
    padding: 0 20px;
}

.objeto {    
    text-align: center;
}

.p {
    background-color: white;
    top: 0px;
    left: 50%;
    bottom: 20px;
    width: 80%;
    padding: 0 50px;
    font-size: 18px;
}

.lista {
    top: 0px;
    left: 20px;
    bottom: 20px;
    width: 50%;
    padding: 0 100px;
    font-size: 18px;
}

footer {
    text-align: center;
    position: fixed;
    background-color: black;
    color: white;
    left: 0;
    bottom: 0;
    height: 20px;
    width: 100%;
}